/* GPTDemo.css */
.gpt-demo-wrapper {

}

.gpt-nav-spacing{
    padding-top: 56px;
    background-color: black;
    min-height: 4rempx; /* To match navigation bar */
}

#gpt-demo {
    /* margin-top: 4rem; */
    padding-top: 4rem;
}

.scrollable-container {
    height: 300px; /* Set a fixed height for the container */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    padding: 1rem; /* Add some padding for better appearance */
}

#userText {
    height: 50px;
    width: 80%;
}