* {
    box-sizing: border-box;
  }

  .dark .AppMode {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .dark .chat-box {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
    margin-bottom: 138px;
    background-color: rgb(46, 46, 46);
    color: ivory;
    font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  }

  .dark .chat-input {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #555555;
    margin-bottom: 42px;
  }

  .dark .chat-input textarea {
    flex: 1;
    min-height: 50px;
    max-height: 200px;
    margin: 0 1rem;
    padding: 0.5rem;
    border: none;
    resize: none;
    overflow-y: auto;
    background-color: black;
    color: ivory;
  }

  .dark .chat-input button {
    background-color: #888787;
  }


  .dark .settings {
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in;
  }
  
  .dark .settings.active {
    display: block;
    max-height: 200px;
    transition: max-height 0.5s ease-out;
  }
  
  .dark .settings p {
    margin: 0;
  }
  
  .dark .settings-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .dark .settings-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: #727272;
    transition: transform 0.3s ease-in-out;
  }

  /* .settings-open {
    transform: translateY(-100px);
  } */
  
  .dark .close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }

  .dark .custom-row{
    width: 100%;
}

.dark .summarize {
    background-color: #f0f8ff;
}
    
.dark .text-extract {
  background-color: #f5f5dc;
}

.dark .AppMode{
    transition: background-color 0.3s ease;
}


.dark pre {
  background-color: black;
  color: white;
  border-radius: .5rem;
  padding: 1rem;
  margin: 1rem;
}

.dark .codeblock {
  margin-top: 1rem;
  background-color: rgb(27, 27, 27);
  font-family: var(--bs-font-monospace);
  border-radius: .5rem;
}

.dark .codeblock>span  {
  display: block;
  padding-top: 1rem;
  margin-left: 1rem;
}